.top-margin {
    margin-top: 20px;
}

.login-message {
    display: flex;
    justify-content: center;
    a {
        margin-left: 10px;
    }
}

.register-link {
    cursor: pointer;
}

.phone-input-container {
    margin-bottom: 1em;
}

.phone-input {
    padding-left: 47px !important;
}