// COMPONENTS STYLE INPORT
@import './components/common/Header/index.scss';
@import './components/common/AuthModal/index.scss';
@import './components/common/Footer/index.scss';
@import './components/common/SendMessageModal/index.scss';
@import './components/common/Map/index.scss';
@import './components/register-ad/index.scss';
@import './components/admin/index.scss';
@import './components/common/TypeAd/index.scss';
@import './components/list/index.scss';
@import './components/common//UserMenu/index.scss';
@import './components/account/index.scss';

// PAGES STYLE IMPORT
@import './pages/main.scss';
@import './pages/admin/ads/index.scss';
@import './pages/ad/index.scss';
@import './pages/list/index.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

.main-content-container {
    min-height: 90vh;
}

.photo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}