.user-ad-list-item {
    &:after {
        content: none;
        display: none;
    }
}

.user-ad-item-img {
    height: 180px;
    width: 200px;
    padding: 10px 20px 10px 0px;
    object-fit: contain;
    cursor: pointer;
}   

.wrap-user-ad-item-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.user-ad-info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.user-ad-subcolumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1000px) {
        flex-direction: row;
    }
}

.list-actions-wrap {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1000px) {
        flex-direction: row;
    }
}

.list-action {
    width: 150px;
    margin-bottom: 10px !important;
    @media screen and (max-width: 1000px) {
        width: 100px;
    }
}

.actual-to-text {
    text-align: center;
}

.answer-wrap {
    margin-bottom: 20px !important;
}

.answer-content-wrap {
    padding: 0 !important;
    margin: 5px 0 0 10px !important;
}

.delete-answer-icon {
    cursor: pointer;
    color: #999999;
    &:hover {
        color: #000000;
    }
}

.answer-actions-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.answers-acordion {
    margin-bottom: 100px;
}