.common-header {
    height: 100px;
    background-color: #7bddb2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 50px;
}

.title-logo {
    width: 93px;
    height: 80px;
    cursor: pointer;
}

.search-icon {
    width: 40px;
    cursor: pointer;
    margin: 10px;
}

.wrap-head-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 600px;
    flex-wrap: nowrap;
    @media screen and (max-width: 810px) {
        min-width: 520px;
    }
}

.account-logo {
    width: 65px;
    cursor: pointer;
}

.search-add-wrap {
    display: flex;
    height: 60px;
    width: 675px;
    position: relative;
    @media screen and (max-width: 810px) {
        width: 420px;
    }
    .search-wrap {
        background-color: #ffffff;
        border-radius: 10px 0px 0px 10px;
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .header-search-form {
            width: 80%;
        }
        .head-search-input {
            height: 100%;
            width: 100%;
            background-color: #ffffff;
            border: none;
            outline: none;
            font-size: 20px;
            border-radius: 10px 0px 0px 10px;
            padding-left: 10px;
        }
    }
    .create-ad-btn {
        height: 100%;
        width: 25%;
        min-width: 170px;
        background-color: #f4b769;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        align-items: center;
        transition: all .3s;
        &:hover {
            background-color: #e29923;
            
        }
        .create-ad-icon {
            margin-left: 3px;
            width: 30px;
        }
        .text {
            margin-left: 5px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}

.account-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 20px;
}