.wrap-list-ads {
    width: 70%;
    margin: 70px auto 250px auto;
}

.wrap-pagination-ad-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.title-search-ad {
    margin-left: 3px;
    text-transform: uppercase;
}