.footer {
    position: relative;
    min-height: 300px;
    background-color: #464947;
    color: #ffffff;
    padding: 30px 5%;
    
}

.footer-logo {
    position: absolute;
    top: 20px;
    margin-top: -140px;
    width: 250px;
    cursor: pointer;
    @media screen and (max-width: 1200px) {
        width: 150px; 
        margin-top: -85px;
    }
}

.wrap-text-links {
    display: flex;
    flex-direction: column;
    min-width: 310px;
}

.footer-links {
    padding: 0px 10% 0px 20%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1450px) {
        padding: 0px 10% 0px 23%;
    }
    @media screen and (max-width: 1200px) {
        padding: 0px 4% 0px 25%;
    }
}

.footer-link {
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.wrap-social-logo {
    display: flex;
    align-items: flex-start;
}

.social-logo {
    width: 70px;
    margin-left: 10px;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: -8px;
}

.company-email {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;    
}

.company-subinfo {
    text-align: end;
    @media screen and (max-width: 1020px) {
        font-size: 13px;
    }
}
