.review-ad-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
}

.main-column-ad-review {
    width: 75%;
}

.subcolumn-ad-review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-review-actions {
    display: flex;
    justify-content: space-between;
}